/* about section styling */
 .about .about-content {
    flex-direction: column;
}
.about .about-content .right{
    margin: 0 auto;
}
.about .about-content .left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .about-content .left .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .about-content .left img{
    border-radius: 10%;
    max-width: 80%;
    object-fit: cover;
    background-size: cover;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(38, 196, 38);
}
.about .about-content .right p{
    display: list-item;
    padding-bottom: 13px;
    text-align:justify;
    color:rgb(229, 215, 215);
}

.slideTop {
    animation: slideTop .5s ease forwards;
}
