/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins";
}
body {
    background-color: black;
    color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0 0;
}
.max-width{
    width: 90%;
    /* padding: 0 60px; */
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.home .home-content,
.about .about-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
/* NAV BAR  */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(45deg, rgba(0, 0, 0), green, rgba(0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo::before {
    content: '{Portfolio}';
}

.logo {
    font-size: 25px;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navbar a {
    font-size: 18px;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    white-space: nowrap;
}

.navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.6s;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover {
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0));
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    -webkit-background-clip: text;
}

/* phone navbar */
.phone-navbar {
    display: none;
}

.phone-navbar a {
    font-size: 15px;
    padding: 0 5px;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    white-space: nowrap;
}

/* HOME PAGE */


canvas {
    position: fixed;
    top: 0;
    left: 0;
    height:100dvh;
    background-color: black;
    z-index: -1;
    background-size: cover;
    background-blend-mode: multiply;
    scroll-behavior: smooth;
}
.btn-box {
    margin-top: 20px;
    display: inline-block;
    padding: 12px 28px;
    background: green;
    border-radius: 40px;
    font-size: 25px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
}
.anim {
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 0.4s;
}

.btn-box:hover {
    box-shadow: 0 0 5px green, 0 0 25px green, 0 0 50px green, 0 0 100px green, 0 0 200px green;
}

/* SOCIAL ICONS */
.social-icons {
    margin-top: 20px;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #00ff00;
    /* Green */
}

.social-icons a:last-child {
    margin-right: 0;
}

/* Media Query for Mobile */
@media screen and (max-width: 1024px) {
    .max-width {
        padding: 0 15px;
    }
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        flex-direction: column;
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 768px) {
    .header .navbar {
        display: none;
    }
    .max-width {
        padding: 0 15px;
    }
    .phone-navbar {
        display: flex;
    }

    .header {
        padding: 15px 5px;
    }
    .home {
        height: auto;
    }
    .home .home-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .home .home-content .column {
        width: 100%;
    }

    .home-content {
        width: 90%;
        margin: 20px auto;
    }
    .home .home-content .text-2{
        font-size: 50px;
    }
    .glitch-wrapper {
        justify-content: center;
     }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .btn-box{
        font-size: 23px;
        padding: 10px 30px;
    }

    .image {
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: 30px;
    }
    .max-width{
        max-width: 930px;
    }
}
@media (max-width: 690px) {
    .about .about-content .left img{
        max-width: 50%;
    }
    .swiper-slide img {
    
        width: 100%;
        /* justify-self: center; */
      }
    .swiper-button-prev, .swiper-button-next{
        top: var(--swiper-navigation-top-offset, 10%);
    } 
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: calc(var(--swiper-navigation-size)/2);
    }
    .swiper-button-disabled { 
        display: none;
    }
    .portfolio__content {
        width: 100%;
    }
    .portfolio__description {
        font-size: 13px;
    }
    .max-width{
        padding: 0 10px;
    }
    .home {
        height: auto;
    }
    
    .home .home-content .text-2{
        font-size: 30px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .home-sci a {
        margin: 10px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

/* ANIMATIONS */
/* Animation */
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes glitch-color {
    0% {
       transform: translate(0);
    }
 
    20% {
       transform: translate(-3px, 3px);
    }
 
    40% {
       transform: translate(-3px, -3px);
    }
 
    60% {
       transform: translate(3px, 3px);
    }
 
    80% {
       transform: translate(3px, -3px);
    }
 
    to {
       transform: translate(0);
    }
 }

 @keyframes noise-before {
    0% {
       clip: rect(61px, 9999px, 52px, 0);
    }
 
    5% {
       clip: rect(33px, 9999px, 144px, 0);
    }
 
    10% {
       clip: rect(121px, 9999px, 115px, 0);
    }
 
    15% {
       clip: rect(144px, 9999px, 162px, 0);
    }
 
    20% {
       clip: rect(62px, 9999px, 180px, 0);
    }
 
    25% {
       clip: rect(34px, 9999px, 42px, 0);
    }
 
    30% {
       clip: rect(147px, 9999px, 179px, 0);
    }
 
    35% {
       clip: rect(99px, 9999px, 63px, 0);
    }
 
    40% {
       clip: rect(188px, 9999px, 122px, 0);
    }
 
    45% {
       clip: rect(154px, 9999px, 14px, 0);
    }
 
    50% {
       clip: rect(63px, 9999px, 37px, 0);
    }
 
    55% {
       clip: rect(161px, 9999px, 147px, 0);
    }
 
    60% {
       clip: rect(109px, 9999px, 175px, 0);
    }
 
    65% {
       clip: rect(157px, 9999px, 88px, 0);
    }
 
    70% {
       clip: rect(173px, 9999px, 131px, 0);
    }
 
    75% {
       clip: rect(62px, 9999px, 70px, 0);
    }
 
    80% {
       clip: rect(24px, 9999px, 153px, 0);
    }
 
    85% {
       clip: rect(138px, 9999px, 40px, 0);
    }
 
    90% {
       clip: rect(79px, 9999px, 136px, 0);
    }
 
    95% {
       clip: rect(25px, 9999px, 34px, 0);
    }
 
    100% {
       clip: rect(173px, 9999px, 166px, 0);
    }
 }
 
 @keyframes noise-after {
    0% {
       clip: rect(26px, 9999px, 33px, 0);
    }
 
    5% {
       clip: rect(140px, 9999px, 198px, 0);
    }
 
    10% {
       clip: rect(184px, 9999px, 89px, 0);
    }
 
    15% {
       clip: rect(121px, 9999px, 6px, 0);
    }
 
    20% {
       clip: rect(181px, 9999px, 99px, 0);
    }
 
    25% {
       clip: rect(154px, 9999px, 133px, 0);
    }
 
    30% {
       clip: rect(134px, 9999px, 169px, 0);
    }
 
    35% {
       clip: rect(26px, 9999px, 187px, 0);
    }
 
    40% {
       clip: rect(147px, 9999px, 137px, 0);
    }
 
    45% {
       clip: rect(31px, 9999px, 52px, 0);
    }
 
    50% {
       clip: rect(191px, 9999px, 109px, 0);
    }
 
    55% {
       clip: rect(74px, 9999px, 54px, 0);
    }
 
    60% {
       clip: rect(145px, 9999px, 75px, 0);
    }
 
    65% {
       clip: rect(153px, 9999px, 198px, 0);
    }
 
    70% {
       clip: rect(99px, 9999px, 136px, 0);
    }
 
    75% {
       clip: rect(118px, 9999px, 192px, 0);
    }
 
    80% {
       clip: rect(1px, 9999px, 83px, 0);
    }
 
    85% {
       clip: rect(145px, 9999px, 98px, 0);
    }
 
    90% {
       clip: rect(121px, 9999px, 154px, 0);
    }
 
    95% {
       clip: rect(156px, 9999px, 44px, 0);
    }
 
    100% {
       clip: rect(67px, 9999px, 122px, 0);
    }
 }
 
 @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
       transform: skewX(0deg);
    }
 
    41% {
       transform: skewX(10deg);
    }
 
    42% {
       transform: skewX(-10deg);
    }
 
    59% {
       transform: skewX(40deg) skewY(10deg);
    }
 
    60% {
       transform: skewX(-40deg) skewY(-10deg);
    }
 
    63% {
       transform: skewX(10deg) skewY(-5deg);
    }
 
    70% {
       transform: skewX(-50deg) skewY(-20deg);
    }
 
    71% {
       transform: skewX(10deg) skewY(-10deg);
    }
 }
